body{
	/*color: #ffffff;
	background-color: #000000;*/

}
p{

}
.displayBox{

	height: 350px;
	border: 5px solid red;
}

#rightChair{
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}